# A股数据库

## TimescaleDB
参考资料：
- [Python quick start](https://docs.timescale.com/quick-start/latest/python/#connect-to-timescaledb)
### 数据库连接
1. 导入`psycopg2`
2. 基本信息：
    - password
    - username
    - host URL
    - port
    - database name
3. 构造链接字符串
    - 本地数据库，参考[Connection Strings](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING)
        ```python
        CONNECTION = "postgres://username:password@host:port/dbname"
        ```
    - 云端数据库，在这种情况下，需要加上`ssl`信息：
        ```python
        CONNECTION = "postgres://username:password@host:port/dbname?sslmode=require"
        ```
    - 参数式：
        ```python
        CONNECTION = "dbname=tsdb user=tsdbadmin password=secret host=host.com port=5432 sslmode=require"
        ```
4. 链接方式：用`psycopg2`中的`connect`函数生成一个数据库环境（database session），并且在这个环境中，生成一个`cursor`对象，作为跟数据库交互的工具。
    ```python
    CONNECTION = "postgres://username:password@host:port/dbname"
    with psycopg2.connect(CONNECTION) as conn:
        cursor = conn.cursor()
        # use the cursor to interact with your database
        # cursor.execute("SELECT * FROM table")
    ```

In [2]:
import psycopg2 as pg
import os
from dotenv import load_dotenv

In [6]:
load_dotenv(dotenv_path='../.env')

True

In [7]:
host='localhost'
#host=os.getenv('POSTGRES_HOST')
port=os.getenv("POSTGRES_PORT") 
dbname=os.getenv("POSTGRES_DB")
user=os.getenv("POSTGRES_USER")
password=os.getenv("POSTGRES_PASSWORD")

In [9]:
CONNECTION=f'postgres://{user}:{password}@{host}:{port}/{dbname}'
print(CONNECTION)

postgres://postgres:password@localhost:5432/postgres

In [10]:
with pg.connect(CONNECTION) as conn:
    cursor=conn.cursor()
    print(f'Database {dbname} connected!')

Database postgres connected!

## 建立数据表

### 通达信

In [15]:
create_tdx_tickers="""CREATE TABLE IF NOT EXISTS tdx_tickers (
  ticker TEXT PRIMARY KEY,
  name TEXT,
  market SMALLINT
);
"""

create_tdx_klines="""CREATE TABLE IF NOT EXISTS stock_prices (
  time TIMESTAMP WITHOUT TIME ZONE NOT NULL,
  ticker TEXT,
  open NUMERIC,
  high NUMERIC,
  low NUMERIC,
  close NUMERIC,
  close_adj NUMERIC,
  volume NUMERIC,
  FOREIGN KEY (ticker) REFERENCES stock_tickers (ticker)
);
"""

In [16]:
with pg.connect(CONNECTION) as conn:
    cursor=conn.cursor()
    cursor.execute(create_tdx_tickers)
    conn.commit()
    cursor.close()

## 数据源
- 通达信
- mydata:
    1. license='30294013744efca1c'

### 通达信

In [17]:
from pytdx.hq import TdxHq_API, TDXParams
from pytdx.exhq import TdxExHq_API
api=TdxHq_API()
ip,port=('119.147.212.81',7709)
api_ex=TdxExHq_API()
ip_ex,port_ex=('182.175.240.157',7727)

In [19]:
kline_index=['open','close','high','low','vol','amount','datetime']
nday=5
n60min=4
n30min=n60min*2
n15min=n60min*4
n1min=n60min*60

### mydata

In [36]:
import requests
import pandas as pd

licence = '30294013744efca1c'

def json_to_df(url):
    """
    将json格式转换为DataFrame格式
    """
    response = requests.get(url)
    data = response.json()
    df = pd.DataFrame(data)
    return df

def get_stock_data(ticker:str,content:list[str])->pd.DataFrame:
    """
    通过股票代码获取历史数据，包括分时交易、kdj、macd、ma和boll
    """
    # 获取数据并转换为DataFrame格式
    df = []
    for c in content:
        url = f'http://api.mairui.club/hszbl/{c}/{ticker}/dq/{licence}'
        """
        倒序，即当前日期放在前面
        """
        df+=[json_to_df(url).iloc[::-1].reset_index(drop=True)]
    return pd.concat(df,axis=1)

In [34]:
data=get_stock_data('510500',['fsjy'])
# 填入代码和将数据保存的名称，将数据保存为csv文件
#data.to_csv('数据.csv', index=False, encoding='utf-8-sig')

In [35]:
data.head()

Empty DataFrame
Columns: []
Index: []

### yfinance

In [24]:
from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override() # <== that's all it takes :-)
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [25]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,201.337372,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,202.535202,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,202.374283,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,203.098358,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,202.427917,46939700

In [26]:
msft = yf.Ticker("MSFT")

# get all stock info
msft.info

# get historical market data
hist = msft.history(period="1mo")

In [29]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-06 00:00:00-04:00,335.329987,335.369995,332.170013,333.679993,20396200,0.0,0.0
2023-06-07 00:00:00-04:00,331.649994,334.489990,322.500000,323.380005,40717100,0.0,0.0
2023-06-08 00:00:00-04:00,323.940002,326.640015,323.350006,325.260010,23277700,0.0,0.0
2023-06-09 00:00:00-04:00,324.989990,329.989990,324.410004,326.790009,22514900,0.0,0.0
2023-06-12 00:00:00-04:00,328.579987,332.100006,325.160004,331.850006,24260300,0.0,0.0
2023-06-13 00:00:00-04:00,334.470001,336.980011,330.390015,334.290009,22951300,0.0,0.0
2023-06-14 00:00:00-04:00,334.339996,339.040009,332.809998,337.339996,26003800,0.0,0.0
2023-06-15 00:00:00-04:00,337.480011,349.839996,337.200012,348.100006,38899100,0.0,0.0
2023-06-16 00:00:00-04:00,351.320007,351.470001,341.950012,342.329987,46533600,0.0,0.0
2023-06-20 00:00:00-04:00,339.309998,342.079987,335.859985,338.049988,26375400,0.0,0.0
2023-06-21 00:00:00-04:00,336.369995,337.730011,332.070007,333.559998,25117800,0.0,0.0
2023-06-22 00:00:00-04:00,334.119995,340.119995,333.339996,339.709991,23556800,0.0,0.0
2023-06-23 00:00:00-04:00,334.359985,337.959991,333.450012,335.019989,23084700,0.0,0.0
2023-06-26 00:00:00-04:00,333.720001,336.109985,328.489990,328.600006,21520600,0.0,0.0
2023-06-27 00:00:00-04:00,331.859985,336.149994,329.299988,334.570007,24354100,0.0,0.0
2023-06-28 00:00:00-04:00,334.660004,337.980011,333.809998,335.850006,20259500,0.0,0.0
2023-06-29 00:00:00-04:00,334.709991,336.109985,332.619995,335.049988,16997000,0.0,0.0
2023-06-30 00:00:00-04:00,337.750000,342.730011,337.200012,340.540009,26823800,0.0,0.0
2023-07-03 00:00:00-04:00,339.190002,340.899994,336.570007,337.989990,12508700,0.0,0.0
2023-07-05 00:00:00-04:00,335.089996,341.649994,334.730011,338.149994,18156200,0.0,0.0